ENVIRONMENT="name"
CDK_DEFAULT_REGION="us-east-1"
DISCORD_API_KEY="your_discord_api_key_here"
DRIVE_API_KEY="your_drive_api_key_here"
NOTION_API_KEY="your_notion_api_key_here"
WIKI_API_KEY="your_wiki_api_key_here"